<head>
  <meta charset="utf-8">
  <!--
SS . . . . ALL THE STATIONS! (2563S!) . . . . . . . . . . . . . . . . . . . . SS
SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS
SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS
SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS
SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS
SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS
SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS
SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS
SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS
SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS
SSSSSSSSSSSSSSSSSSSSSS.............SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS
SSSSSSSSSSSSSSSSSSSSSSSSSS............SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS
SSSSSSSSSSSSSSSSSSSSSSSSSSSSS.. .   .....SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS
SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS.   . ......SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS
SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS,  .........SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS
SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS=...........SSSSSSSSSSSSSSSSSSSSSSSSSSSSSS
SSSSSSSSS:.............................................................SSSSSSSSS
SSSSSSSSS,.............................................................SSSSSSSSS
SSSSSSSSS,.............................................................SSSSSSSSS
SSSSSSSSS,.............................................................SSSSSSSSS
SSSSSSSSSSSSSS==========================~..............................SSSSSSSSS
SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS...........SSSSSSSSSSSSSSSSSSSSSSSSSSSSSS
SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS...........SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS
SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS...........SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS
SSSSSSSSSSSSSSSSSSSSSSSSSSSSSS:..........SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS
SSSSSSSSS,.............................................................SSSSSSSSS
SSSSSSSSS,.............................................................SSSSSSSSS
SSSSSSSSS,.............................................................SSSSSSSSS
SSSSSSSSS,.............................................................SSSSSSSSS
SSSSSSSSS,.............................................................SSSSSSSSS
SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS..........,SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS
SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS...........SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS
SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS............SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS
SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS.............SSSSSSSSSSSSSSSSSSSSSSSSSSSS
SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS.............SSSSSSSSSSSSSSSSSSSSSSSSS
SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS_____________SSSSSSSSSSSSSSSSSSSSSS
SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS
SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS
SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS
SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS
SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS
SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS
SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS
-->
  <title>{% if page.title %} {{ page.title }} &lt; {% endif %} {{ site.name }}</title>
  <meta name="description" content="{{ site.name }}">
  <meta name="keywords" content="information">
  <meta name="author" content="{{ site.name }}">
  <meta name="HandheldFriendly" content="true" />
  <meta name="MobileOptimized" content="width" />
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="apple-touch-icon" sizes="76x76" href="{{site.domain}}/static/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="{{site.domain}}/static/favicons/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="{{site.domain}}/static/favicons/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="{{site.domain}}/static/favicons/manifest.json">
  <link rel="mask-icon" href="{{site.domain}}/static/favicons/safari-pinned-tab.svg" color="#da532c">
  <link rel="shortcut icon" href="{{site.domain}}/static/favicons/favicon.ico">
  <meta name="apple-mobile-web-app-title" content="All The Stations">
  <meta name="application-name" content="All The Stations">
  <meta name="msapplication-config" content="{{site.domain}}/static/favicons/browserconfig.xml">
  <meta name="theme-color" content="#da532c">
  <script src="https://apis.google.com/js/platform.js"></script>

  <meta property="og:title" content="All The Stations > {% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
  <meta property="og:description" content="{% if content %}{{ content | strip_html | truncatewords: 20 }}{% else %}{{ page.title }}{% endif %}" />
  <meta property="og:image" content="http://allthestations.co.uk/static/images/allstations-rainbow_200px.png" />
  <meta property="og:url" content="{{site.domain}}{% if page.url %}{{ page.url }}{% else %}{{ site.url }}{% endif %}" />
  <meta property="fb:app_id" content="1094947013937556" />
  <meta name="twitter:card" content="summary" />
  <meta property="twitter:site" content="@allthestations" />

  <!-- Use this CSS file for any custom styling -->
  {% comment %} Custom global CSS could go here: {% endcomment %}
  {% for css in site.custom_css %}
  <!-- <link rel="stylesheet" href="{{css}}" media="all"> -->
  <link rel="stylesheet" href="{{site.domain}}{{css}}" media="all">
  {% endfor %}
</head>
