<div class="columns medium-4">
  <div class="label">Live from Twitter</div>
  <a class="twitter-timeline" href="https://twitter.com/allthestations"
    data-height="500"
    data-chrome="noheader nofooter noborders transparent">Loading tweets...</a>

  <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
<div class="columns medium-5">
  <a name="map"></a>
  <div class="label">The Map</div>
  <iframe style="width:100%;height:500px; border:0;" src="http://www.allthestations.co.uk/map/geofftech-stations.php"></iframe>

  <small><a class="read-more" href="/all-the-stations/stationlist">See the complete list of all 2,563 railway stations here</a></small>
</div>
<div class="columns medium-3">
  <div class="label">Latest video updates</div>
  {% include video_list.html %}

  <div class="label">Tidbits</div>
  Geoff's vlog
</div>
