<div class="margin-bottom-medium">
  <div class="label margin-bottom-medium">Live from Twitter</div>
  <div id="twitter-timeline"></div>
  <small><a class="read-more" href="https://twitter.com/allthestations">Follow on Twitter</a></small>
</div>

<div class="margin-bottom-medium">
  <a name="map"></a>
  <div class="label margin-bottom-medium">The Map</div>
  <iframe style="width:100%;height:400px; border:0;" src="http://www.allthestations.co.uk/map/allthestations-map.php"></iframe>
  <small><a class="read-more" href="/stationlist">See the complete list of all 2,563 railway stations here</a></small>
</div>

<div class="margin-bottom-medium">
  <div class="label margin-bottom-medium">Tidbits</div>
  <p>You can <a href="http://www.youtube.com/channel/UC7ttKX46nJxUeXZ0aoD4Q5g">watch the main series on YouTube</a>, but Geoff will also be posting bonus content <a href="https://www.youtube.com/watch?list=PLt4q5oaptyI9x3D0nCrswG-p_wIwPQQys&v=Vv0jecbapMw">on his personal channel</a>.</p>
  <div class="videoWrapper">
    <iframe src="https://www.youtube.com/embed/videoseries?list=PLt4q5oaptyI9x3D0nCrswG-p_wIwPQQys&enablejsapi=1&origin=http%3A%2F%2Fwww.allthestations.co.uk" frameborder="0" allowfullscreen class="embed-responsive-item" style=""></iframe>
  </div>
  <small><a class="read-more" href="https://www.youtube.com/watch?list=PLt4q5oaptyI9x3D0nCrswG-p_wIwPQQys&v=Vv0jecbapMw">More bonus videos</a></small>
  <p><b>May 8th</b><br/><img src="/static/images/CoastFMInterviewSelfie.jpg" style="width:100%" alt="Selfie with David Hackett from Coast FM"/><br/>Listen to our interview with <a href="http://www.coastfm.co.uk/" target="_blank">Cornwall&#39;s Coast FM</a>: Click <a href="/static/CoastFM-2017-05-08.mp3">here</a>.</p>
  <p><b>May 9th</b><br/>Article about our planned visit to the Isle Of Wight on the IslandEcho: Click <a href="http://www.islandecho.co.uk/news/stations-project-document-islands-railway" target="_blank">here</a></p>
  <p><b>May 15th</b><br/>Article about our visit to Cornwall in the Cornish Times: Click <a href="http://www.cornish-times.co.uk/article.cfm?id=110074" target="_blank">here</a> (interviewed May 9th)</p>
  <p><b>May 19th - 9am</b><br/>Listen to our interview with <a href="http://www.bbc.co.uk/bbcsomerset" target="_blank">BBC Somerset</a>: Click <a href="/static/audio/BBCSomerset-2017-05-19.mp3">here</a> (recorded May 11th)</p>
  <p><b>May 19th - 5pm</b><br/>Listen to our interview with <a href="http://www.bbc.co.uk/bbcsurrey" target="_blank">BBC Surrey</a>: Click <a href="/static/audio/BBCSurrey-2017-05-19.mp3">here</a>.</p>
</div>
