<div class="label">Live from Twitter</div>
<a class="twitter-timeline" href="https://twitter.com/allthestations"
  data-height="600"
  data-chrome="noheader nofooter noborders transparent">Loading tweets...</a>

<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

<hr/>

<a name="map"></a>
<div class="label">The Map</div>
<iframe style="width:100%;height:400px; border:0;" src="http://www.allthestations.co.uk/map/geofftech-stations.php"></iframe>

<small><a class="read-more" href="/all-the-stations/stationlist">See the complete list of all 2,563 railway stations here</a></small>

<hr/>
<div class="label">Latest video updates</div>
{% include video_list.html %}

<hr/>
<div class="label">Tidbits</div>
Geoff's vlog
