<div class="title-bar" data-responsive-toggle="example-animated-menu" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle></button>
  <div class="title-bar-title">Menu</div>
</div>

<div class="row" data-sticky-container>
  <div class="columns medium-12 top-bar" id="example-animated-menu" data-animate="hinge-in-from-top spin-out" data-sticky>
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li class="menu-text medium-2">
          <img alt="Brand" src="/static/images/allstations-rainbow.png" class=""/>
        </li>
        <li>
          <li><a href="#project">Project </a></li>
          <li><a href="#funding">Funding </a></li>
          <li><a href="#rules">Rules </a></li>
          <li><a href="#team">The Team </a></li>
          {% comment %}
          We construct the site naviagion by loading a list of the site's pages
          and filtering to just those with the front matter of:
            group: "in_local_navigation"
          and we order by adding
            order: 2 (whatever number)
          {% endcomment %}
          {% assign navigation_list = site.pages | sort:"order" %}
          {% assign group = 'in_local_navigation' %}
          {% include navigation_list.html %}
          <li class="show-for-small-only"><a href="http://www.twitter.com/allthestations/"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a></li>
          <li class="show-for-small-only"><a href="http://www.youtube.com/channel/UC7ttKX46nJxUeXZ0aoD4Q5g"><i class="fa fa-youtube-play" aria-hidden="true"></i> YouTube</a></li>
          <li class="show-for-small-only"><a href="https://www.instagram.com/allthestations/"><i class="fa fa-instagram" aria-hidden="true"></i> Instagram</a></li>
          <li class="show-for-small-only"><a href="https://www.facebook.com/AllTheStations/"><i class="fa fa-facebook-official" aria-hidden="true"></i> Facebook</a></li>
          <li class="show-for-medium"><a href="http://www.twitter.com/allthestations/"><i class="fa fa-twitter" aria-hidden="true"></i> </a></li>
          <li class="show-for-medium"><a href="http://www.youtube.com/channel/UC7ttKX46nJxUeXZ0aoD4Q5g"><i class="fa fa-youtube-play" aria-hidden="true"></i> </a></li>
          <li class="show-for-medium"><a href="http://www.instagram.com/allthestations/"><i class="fa fa-instagram" aria-hidden="true"></i> </a></li>
          <li class="show-for-medium"><a href="http://www.facebook.com/AllTheStations/"><i class="fa fa-facebook-official" aria-hidden="true"></i> </a></li>
          <li class="backus  medium-2"><a href="https://www.kickstarter.com/projects/562621903/all-the-stations" target="new"><span class="show-for-large-only">Back us on </span><img class="" src="/static/images/kickstarter-logo-light.png"/ ></a></li>
        </li>
      </ul>
    </div>
  </div>
</div>
