<div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle></button>
  <div class="title-bar-title">Menu</div>
</div>

<div class="row" data-sticky-container>
  <div class="columns medium-12 top-bar" id="main-menu" data-options="marginTop:0;" data-sticky>
    <div class="top-bar-left">
      <ul class="menu" data-responsive-menu="drilldown medium-dropdown">
        <li class="" style="width: 7rem;">
          <a href="{{site.domain}}"><img alt="Brand" src="/all-the-stations/static/images/allstations-rainbow.png" class=""/></a>
        </li>
        {% comment %}
        We construct the site naviagion by loading a list of the site's pages
        and filtering to just those with the front matter of:
          group: "in_local_navigation"
        and we order by adding
          order: 2 (whatever number)
        {% endcomment %}
        {% assign navigation_list = site.pages | sort:"order" %}        
{% for node in navigation_list %}
  {% if 'in_local_navigation' == node.group %}
    {% if page.url == node.url %}
      <li><a href="{{site.domain}}{{node.url}}" class="active">{{node.title}}</a></li>
    {% else %}
      <li><a href="{{site.domain}}{{node.url}}">{{node.title}}</a></li>
    {% endif %}
  {% endif %}
{% endfor %}
{% assign pages_list = nil %}
        
        <li class="show-for-small-only"><a href="http://www.twitter.com/allthestations/"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a></li>
        <li class="show-for-small-only"><a href="http://www.youtube.com/channel/UC7ttKX46nJxUeXZ0aoD4Q5g"><i class="fa fa-youtube-play" aria-hidden="true"></i> YouTube</a></li>
        <li class="show-for-small-only"><a href="https://www.instagram.com/allthestations/"><i class="fa fa-instagram" aria-hidden="true"></i> Instagram</a></li>
        <li class="show-for-small-only"><a href="https://www.facebook.com/AllTheStations/"><i class="fa fa-facebook-official" aria-hidden="true"></i> Facebook</a></li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
        <li class="show-for-medium"><a href="http://www.twitter.com/allthestations/"><i class="fa fa-twitter" aria-hidden="true"></i> </a></li>
        <li class="show-for-medium"><a href="http://www.youtube.com/channel/UC7ttKX46nJxUeXZ0aoD4Q5g"><i class="fa fa-youtube-play" aria-hidden="true"></i> </a></li>
        <li class="show-for-medium"><a href="http://www.instagram.com/allthestations/"><i class="fa fa-instagram" aria-hidden="true"></i> </a></li>
        <li class="show-for-medium"><a href="http://www.facebook.com/AllTheStations/"><i class="fa fa-facebook-official" aria-hidden="true"></i> </a></li>
        <!-- <li class="backus medium-2 large-3"><a href="https://www.kickstarter.com/projects/562621903/all-the-stations" target="new"><small class="show-for-large-only float-left">Back us on </small><img class="" style="width: 9rem; padding-left: .5rem;" src="/static/images/kickstarter-logo-light.png"/ ></a></li> -->
      </ul>
    </div>
  </div>
</div>
