{% comment %}
We construct the site naviagion by loading a list of the site's pages
and filtering to just those with the front matter of:
  group: "on_updates_page"
and we order by adding
  order: 2 (whatever number)
{% endcomment %}
{% assign updates_list = site.posts | sort:"order" %}
{% assign group = 'in_updates_list' %}

{% for node in updates_list %}
  {% if group == node.group %}
<div class="bgbox secondary">
	<div class="row">
		<div class="columns medium-8 medium-push-2">
      <h3>{{node.date | date: "%Y-%m-%d" }} - {{node.title}}</h3>
      {{node.content}}
    </div>
  </div>
</div>
  {% endif %}
{% endfor %}
{% assign pages_list = nil %}
{% assign group = nil %}
