<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body class="">
    <!-- <h1><a href="/">Somatisch</a></h1> -->
    {% include navigation.html %}
    <div id="content" class="padding-top-xlarge padding-bottom-xlarge" role="main">

      <div id="counter-row" class="padding-top-xlarge padding-bottom-xlarge row collapse">
        <div class="columns medium-5 medium-text-right text-center">
      		<h1 class="padding-right-medium" style="font-size: 4rem;"><span id="counter" class="padding-right-large padding-left-large" style="background: #134073; display:inline-block; color: #fff">-</span></h1>
      	</div>
        <div class="columns medium-7 text-center medium-text-left">
      		<h1 style="font-size: 4rem;"><span style="">stations visited</span></h1>
          <p style="margin-top: -1.5rem;"><a class="remaining readmore" href="stationlist"></a></p>
      	</div>
      </div>

      <!-- <div class="row">
        <div class="show-for-small-only columns small-10 small-push-1 padding-bottom-large">
          <a href="{{site.domain}}"><img alt="Brand" src="{{site.domain}}/static/images/allstations-rainbow.png" class=""/></a>
        </div>
      </div> -->
      <div class="row">
        <div class="videoWrapper show-for-small-only columns small-12">
          <iframe src="https://www.youtube.com/watch?v=_vFeduxOKX8" frameborder="0" allowfullscreen class="embed-responsive-item"></iframe>
        </div>
      </div>

      <div class="padding-top-xlarge padding-bottom-xlarge">
        <div class="row">
        	<div class="columns medium-9">
            <section id="main-content-area" class="row">
              <div class="columns medium-4">
                {{ content }}
                <!-- <div class="label margin-bottom-medium">Bonus content</div> -->
              </div>
              <div class="columns medium-8">
              	<div class="videoWrapper show-for-medium">
				    <!-- <iframe src="https://www.youtube.com/embed/_vFeduxOKX8?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
              		<iframe src="https://www.youtube.com/embed/videoseries?list=PL4PdgT_AV_nXMZLPuz-ZM2gevSVy9F3xN&enablejsapi=1&origin=http%3A%2F%2Fwww.allthestations.co.uk" frameborder="0" allowfullscreen class="embed-responsive-item"></iframe>
              	</div>
              	<div class="padding-top-small padding-bottom-small show-for-medium">
              		<span class="padding-right-large"><a class="" href="///www.twitter.com/allthestations/"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a></span>
              		<span class="padding-right-large"><a class="" href="///www.youtube.com/allthestations/"><i class="fa fa-youtube-play" aria-hidden="true"></i> YouTube</a></span>
              		<span class="padding-right-large"><a class="" href="///www.instagram.com/allthestations/"><i class="fa fa-instagram" aria-hidden="true"></i> Instagram</a></span>
              		<span class="padding-right-large"><a class="" href="///www.facebook.com/AllTheStations/"><i class="fa fa-facebook-official" aria-hidden="true"></i> Facebook</a></span>
                  <hr/>
              	</div>
              	<div class="padding-top-small padding-bottom-small show-for-medium" id="prevEp">
              	</div>
				<hr/>
              	<a name="map"></a>
              	<h3>The Map</h3>
              	<iframe style="width:100%;height:700px; border:0;" src="///www.allthestations.co.uk/map/allthestations-map.php"></iframe>
              	<small><a class="read-more" href="/stationlist">See the complete list of all 198 railway stations here</a></small>
              </div>
            </section>
        	</div>
        	<div class="columns medium-3">
        	  <!-- <div class="label margin-bottom-medium">Live from Twitter</div> -->
        	  <div id="twitter-timeline"></div>
        	  <small><a class="read-more" href="https://twitter.com/allthestations">Follow on Twitter</a></small>

            <div class="padding-top-large"><a href="https://www.instagram.com/allthestations/">Updates from Instagram</a></div>
            <!-- LightWidget WIDGET --><script src="http://lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/b131128d82355c89bfd28793feaa6e27.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>
        	  <small><a class="read-more" href="https://www.instagram.com/allthestations/">On Instagram</a></small>
        	</div>
        </div>
      </div>

    </div><!-- /.container -->
    {% include footer.html %}
  </body>
</html>
